<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.yikezhongpro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".view.App"
        android:allowBackup="true"
        android:icon="@drawable/raw_1500033586"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ShouYeActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.DengluActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".view.WangjiActivity" />
        <activity android:name=".view.FabuActivity" />
        <activity android:name=".view.FabuDuanziActivity" />
        <activity android:name=".view.myView.MyguanzhuActivity"></activity>
    </application>

</manifest>